<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

</head>
<body>
	<div class="container">
		<div class="row">
			{% for details in a %}
		 	<div class="panel-group">  	
				<div class="panel panel-default fetch" style="border-color:red">
					<b><div class="panel-heading">{{ details.files }}</div></b>
					<div class="panel-body">
					{% for sections in details.sections %}
						<li>{{sections}}</li>
					{% endfor %}
					</div>
				</div>
			</div>		
			{% endfor %}
		  </div>
		  	<form method="POST" action="/edit-files">
		      	<div class="form-group">
		        	<label for="example-text-input" class="col-2 col-form-label">Sections to be written in JSON files</label>
		        	<div class="col-10">
		          		<input type="text" class="form-control" id="section_names" name="section_names">
		        	</div>
		        	<label for="example-text-input" class="col-2 col-form-label">JSON files path</label>
		        	<div class="col-10">
		          		<input type="text" class="form-control" id="paper_path" name="paper_path" value="{{paper_path}}" readonly="">
		        	</div>
		      	</div>
		      	<div class="row">
		  			<div class="col-md-4"></div>
		    		<div class="col-md-4"><input type="submit" class="btn btn-primary btn-lg active" value="Submit" name="my-form">
		    		</div>
		    		<div class="col-md-4">
		  		</div>
		    </form>
		    
		    <form action="/">
		    
		  			
		    	<input type="submit" name="my-form" value="Back" class="btn btn-primary btn-lg active">
		    </form>
	  </div>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
  $(document).ready(function(){
	// $.ajax({
	// 		'type':'POST',
	// 		'url':'/show-units',
	// 		'data':{}
	// 	}).done(function(response){
	// 		  var response = $.parseJSON(response);
	// 		  var data = '';
	// 		  var data1=''
	// 		  response.forEach(function(d){
	// 				data+= '<div class="panel panel-default fetch" style="border-color:red">'+
	// 							'<b><div class="panel-heading">'+d.files+'</div></b>'+
	// 							'<div class="panel-body">'+d.sections+'</div>'+
	// 						'</div>';
	// 			// data+= '<b>'+d.files;
	// 			// data1+=d.sections;
	// 		  });
	// 		  $(".fetch").html(data);
	// 		  // $("#section_title").html(data1);
	// 	});

	// $("#files_id").on("change",function(){
	//   var files_id = $(this).val();
	//   $.ajax({
		// 	'type':'POST',
		// 	'url':'/show-units',
		// 	'data':{class_id:class_id}
		// }).done(function(response){
		// 	var response = $.parseJSON(response);
	//     var data = '';
	//     response.forEach(function(d){
	//       data+= '<option value="'+d.id+'">'+d.name+'</option>';
	//     });
	//     $("#sub_id").html(data);
		// });
	// });

  });
  </script>
</html>